@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: white;
  font-size: 18px;
  font-family: "Public Sans";
}
#phoneimage{
  height: 100%;
  position: relative;
}
.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
header {
  background-color: white;
  padding: 1.5vh 0 1vh 9vw;
  width: 100vw;
  max-width:100%;
  height: 9vh;
}
#menu{
  display: none;
}
header > ul {
  font-weight: 700;
  width: 30vw;
  text-align: center;
}
header > img{
  height: 4vh;
}
header > ul > li {
  display: inline-block;
  margin-left: 7%;
}
header > ul > li:active{
  border-bottom: 4px solid hsl(136, 65%, 51%);
  padding-bottom: 4.4vh;
}
a{
  text-decoration: none;
  color: hsl(233, 8%, 62%);
}
button {
  font-size: 15px;
  font-weight: 700;
  margin-right: 10vw;
  border-radius: 25px;
  border-style: none;
  color: white;
  width: 150px;
  height: 50px;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(49,208,105,1) 0%, rgba(0,212,255,1) 100%);
}
.bigtopdiv {
  width: 100vw;
  max-width:100%;
  height: 60vh;
  padding: 0 0 0 13vw;
  position: relative;
  display: flex;
}
#bkg{
  background: url("images/image-mockups.png") , url("images/bg-intro-desktop.svg") content-box;
  background-repeat: no-repeat;
  background-position: 11vw -15vh, 0vw -35vh;
  top: 0;
  left: 45vw;
  width: 53.95vw;
  max-width: 55%;
  height: 108vh;
  padding-bottom: 18vh;
  position: absolute;
}
.topdiv {
  margin: 30vh 0;
  width: 28vw;
  height: 40vh;
}
.bigtopdiv h1{
  font-size: 56px;
  font-weight: 700;
}
.topdiv > p{
  line-height: 4vh;
  font-size: 18px;
  font-weight: 700;
  margin: 4vh 0 7vh;
  color: hsl(233, 8%, 62%);
}
#middlediv{
  height: 90vh;
  width: 100vw;
  max-width:100%;
  background-color: rgb(240, 240, 240);
  padding: 0 13vw 0 13vw;
  margin: 0 0 5vh;
}
#marginBot{
  padding-top: 8vh;
  margin-bottom: 1vh;
  width: 50vw;
}
.divbot {
  width: 100vw;
  max-width:100%;
  padding: 0 13vw 0 13vw;
  margin-bottom: 12vh;
}
.smalldiv {
  width: 17vw;
  height: 10vh;
  margin: 0 0 12vh 0;
  padding: 0 2vw 0 0;
  text-align: left;
  line-height: 1.5rem;
  max-height: 100%;
}
.smalldiv > img{
    margin-bottom: 4vh;
}
.smalldiv > h2{
    margin-bottom: 4vh;
}
h3{
  font-size: 14px;
  font-weight: 900;
  color: hsl(233, 8%, 62%);
  margin-bottom: 2vh;
  margin-top: 2vh;
}
h4 > a:active{
  color: hsl(136, 65%, 51%);
}
.article > img{
    width: 17vw;
    height: 150px;
    border-radius: 3px 3px 0 0;
}

.article{
    width: 17vw;
}
.article > p{
  font-size: 16px;
  font-weight: 700;
  color: hsl(233, 8%, 62%);
}
h4{
  margin-bottom: 2vh;
  font-weight: 900;
}
#bottomtitle{
  margin:5vh 0 5vh 13vw;
}
footer{
  color: white;
  background-color: hsl(233, 26%, 24%);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 2vh 13vw 2vh 13vw;
  height: 20vh;
}
.footerdiv{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  text-align: right;
}
svg{
margin-right: 0.5vw;
}
path{
display: block;
margin-right: 5vw;
}
path:active{
  fill: hsl(136, 65%, 51%);
}
.footerdiv button{
  margin-right: 0vw;
}
.list{
  list-style-type: none;
}
.list > li{
  padding-right: 8vw;
}
.list > li > a:active{
  color: hsl(136, 65%, 51%);
}
#botlist{
  margin-top: 3vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  line-height: 3.5vh;
}
button:active{
  opacity: 0.5;
  border-style: none;
}
button:focus{
outline: none;
}
@media screen and (max-width: 375px){
  #phoneimage{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
  }
  header{
    padding-top: 2vh;
    padding-left: 6vw;
  }
  #menu{
    display: inline-block;
    width: 7vw;
    height: 4vw;
    margin: 1vh 7vw 0 0 ;
  }
  header > img{
    width: 160px;
  }
  header > ul {
    display: none;
  }
  header > button{
    display: none;
  }
  .bigtopdiv{
    flex-flow: column nowrap;
    position: static;
    height: 100vh;
    padding: 0;
  }
  .bigtopdiv > .topdiv{
    order: 1;
    margin: 0;
    width: 100%;
    height: 60vh;
    text-align: center;
    padding: 0 5vw;
  }
  .topdiv > h1
  {
    font-size: 40px;
  }
  .topdiv > button{
    margin: 0;
  }
  #bkg{
    background-size: 100% , 150%;
    width: 100%;
    height: 50vh;
    max-width: 100%;
    background-position: 0vw -25vh;
    order: 0;
    position: static;
  }
  #middlediv{
    height: 200vh;
    display: flex;
    flex-flow: column nowrap;
    padding: 0 5vw;
  }
  #marginBot{
    padding-top: 0;
    padding: 0 2vw;
    margin: 8vh 0 0;
    width: 100%;
    text-align: center;
    
  }
  .botdiv{
    display: flex;
    flex-flow: column nowrap;
    margin-top: 0;

  }
  .smalldiv{
    height: 25vh;
    width: 100%;
    text-align: center;
  }
  #bottomtitle{
    margin: 0 0 5vh 0;
    text-align: center;
  }
  .article{
    text-align: left;
    padding: 0 5vw;
    width: 100%;
    margin: 0 0 5vh 0;
  }
  .article > p{
    padding: 0 7vw;
    font-size: 14px;
  }
  .article > img{
    width: 100%;
    height: 26vh;
    margin-bottom: 1vh;
  }
  .article > h3{
    text-align: left;
    padding: 0 7vw;
    font-size: 10px;
    font-weight: 400;
  }
  .article > h4{
    text-align: left;
    padding: 0 7vw;
    font-size: 16px;
  }
  .article > h4 >a{
    color: black;
    font-weight: 900;
  }
  footer{
    width: 100%;
    height: 75vh;
    flex-flow: column nowrap;
    justify-content: unset;
  }
  .footerdiv{
    margin: 0 auto;
    padding: 2vh;
    text-align: center;
  }
  #lalala{
    margin-top: 4vh;
  }
  #botlist{
    flex-flow: column nowrap;
    justify-content: unset;
    text-align: center;
    margin: 0 auto;
    padding: 2vh;
  }
  .list{
    line-height: 5vh;
  }
  .list > li{
    padding-right: 0;
    margin: 0;
  }
  #botbutton{
    margin: 0 0 5vh 0;
  }
  #mobilemenu{
    position: absolute;
    display: block;
    background-color: white;
    height: 35vh;
    width: 90vw;
    top : 10vh;
    left: 5vw;
    text-align: center;
    line-height: 6vh;
    border-radius: 4px ;
    -webkit-box-shadow: 10px 10px 72px 82px rgba(0,0,0,0.45);
    -moz-box-shadow: 10px 10px 72px 82px rgba(0,0,0,0.45);
    box-shadow: 10px 10px 72px 82px rgba(0,0,0,0.45);
  }
  #mobilemenu > ul{
    list-style: none;
    padding-top: 2vh;
  }
  #mobilemenu > ul > li > a{
    color: hsl(233, 26%, 24%);
    font-weight: 900;
  }
}