@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: white;
  font-size: 18px;
  font-family: "Public Sans";
}
#phoneimage{
  height: 100%;
  position: relative;
}
.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
header {
  background-color: white;
  padding: 1.5vh 0 1vh 9vw;
  width: 100vw;
  max-width:100%;
  height: 9vh;
}
header > ul {
  font-weight: 700;
  color: hsl(233, 8%, 62%);
  width: 30vw;
  text-align: center;
}
header > img{
  height: 4vh;
}
header > ul > li {
  display: inline-block;
  margin-left: 7%;
}
button {
  font-size: 15px;
  font-weight: 700;
  margin-right: 10vw;
  border-radius: 25px;
  border-style: none;
  color: white;
  width: 150px;
  height: 50px;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(49,208,105,1) 0%, rgba(0,212,255,1) 100%);
}
.bigtopdiv {
  width: 100vw;
  max-width:100%;
  height: 60vh;
  padding: 0 0 0 9vw;
  position: relative;
  display: flex;
}
#bkg{
  background: url("images/image-mockups.png") , url("images/bg-intro-desktop.svg") content-box;
  background-repeat: no-repeat;
  background-position: 61vw -15vh, 49vw -35vh;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 100%;
  height: 108vh;
  padding-bottom: 18vh;
  position: absolute;
}
.topdiv {
  margin: 30vh 0;
  width: 28vw;
  height: 40vh;
}
.bigtopdiv h1{
  font-size: 56px;
  font-weight: 700;
}
.topdiv > p{
  line-height: 4vh;
  font-size: 18px;
  font-weight: 700;
  margin: 4vh 0 7vh;
  color: hsl(233, 8%, 62%);
}
#middlediv{
  height: 90vh;
  width: 100vw;
  max-width:100%;
  background-color: rgb(240, 240, 240);
  padding: 0 9vw 0 9vw;
  margin: 0 0 5vh;
}
#marginBot{
  padding-top: 8vh;
  margin-bottom: 1vh;
  width: 50vw;
}
#botdiv {
  width: 100vw;
  max-width:100%;
  padding: 0 9vw 0 11vw;
  margin-bottom: 12vh;
}
.smalldiv {
  width: 18vw;
  height: 10vh;
  margin: 0 0 12vh 0;
  padding: 0 2vw 0 0;
  text-align: left;
  line-height: 1.5rem;
}
.smalldiv > img{
    margin-bottom: 4vh;
}
.smalldiv > h2{
    margin-bottom: 4vh;
}
h3{
  font-size: 14px;
  font-weight: 900;
  color: hsl(233, 8%, 62%);
  margin-bottom: 2vh;
  margin-top: 2vh;
}
.article > img{
    width: 250px;
    height: 150px;
}

.article{
    width: 18vw;
}
.article > p{
  font-size: 16px;
  font-weight: 700;
  color: hsl(233, 8%, 62%);
}
h4{
  margin-bottom: 2vh;
  font-weight: 900;
}
#bottomtitle{
  margin:5vh 0 5vh 11vw;
}
footer{
  color: white;
  background-color: hsl(233, 26%, 24%);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 2vh 9vw 2vh 11vw;
  height: 20vh;
}
.footerdiv{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  text-align: right;
}
footer > div > div > img{
  margin-right: 1vh;
}
.footerdiv button{
  margin-right: 0vw;
}
.list{
  list-style-type: none;
}
.list > li{
  padding-right: 8vw;
}
#botlist{
  margin-top: 3vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  line-height: 3.5vh;
}
