@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 18px;
}
body {
  background-color: white;
  font-family: "Public Sans";
}
#phoneimage{
  height: 100%;
  position: relative;
}
.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
header {
  background-color: white;
  padding: 1em 15vw 1em 15vw;
  width: 100%;
  max-width:100%;
  height: 4.5rem;
}
#menu{
  display: none;
}
header > ul {
  font-weight: 700;
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 0 8%;
}
header > img{
  height: 3em;
  width: 16em;
}
header > ul > li {
  display: inline-block;
}
header > ul > li:active{
  border-bottom: 4px solid transparent;
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, rgba(49,208,105,1) 0%, rgba(43,183,218,1) 100%);
  padding-bottom: 2rem;
}
a{
  text-decoration: none;
  color: hsl(233, 8%, 62%);
}
button {
  font-size: 15px;
  font-weight: 700;
  border-radius: 25px;
  border-style: none;
  color: white;
  width: 10em;
  height: 3em;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(49,208,105,1) 0%, rgba(0,212,255,1) 100%);
}
.bigtopdiv {
  width: 100%;
  max-width:100%;
  height: 26rem;
  padding: 0 0 0 20%;
  position: relative;
  display: flex;
}
#bkg{
  background: url("images/image-mockups.png") , url("images/bg-intro-desktop.svg") content-box;
  background-repeat: no-repeat;
  background-position: 19rem -7rem, 8rem -15rem;
  top: 0;
  right: 0; 
  width: 54rem;
  max-width: 55%;
  height: 50rem;
  max-height: 170%;
  position: absolute;
  z-index: 2;
}
.topdiv {
  margin: 12rem 0 0 0;
  width: 30rem;
  z-index: 100;

}
.bigtopdiv h1{
  font-size: 3em;
  font-weight: 700;
  z-index: 100;

}
.topdiv > p{
  line-height: 2em;
  font-size: 18px;
  font-weight: 700;
  margin: 2rem 0 2rem;
  color: hsl(233, 8%, 62%);
  z-index: 100;
}
#middlediv{
  height: 40rem;
  width: 100%;
  max-width:100%;
  background-color: rgb(240, 240, 240);
  padding: 0 20% 0 20%;
}
#marginBot{
  padding-top: 4em;
  margin-bottom: 5em;
  width: 50rem;
}
h1{
  font-size: 3em;
}
.smalldiv {
  width: 19rem;
  text-align: left;
  line-height: 1.5rem;
  max-height: 30%;
  max-width: 20%;
}
.smalldiv > img{
    margin-bottom: 2em;
}
.smalldiv > h2{
    margin-bottom: 1em;
    font-size: 2rem;
    line-height: 1em;
}
.divbot {
  width: 100%;
  max-width:100%;
  padding: 0 20% 5em 20%;
}
h3{
  font-size: 14px;
  font-weight: 900;
  color: hsl(233, 8%, 62%);
  margin-bottom: 2em;
  margin-top: 2em;
}
h4 > a{
  color: black;
}
h4 > a:active{
  color: hsl(136, 65%, 51%);
}
.article > img{
    width: 17em;
    height: 14em;
    border-radius: 3px 3px 0 0;
}
.article{
    width: 17rem;
    margin-bottom: 1em;
}
.article > p{
  font-size: 16px;
  font-weight: 700;
  color: hsl(233, 8%, 62%);
}
h4{
  margin-bottom: 1em;
  font-weight: 900;

}
#bottomtitle{
  margin: 6rem 0 5rem 0;
  padding-left: 20%;
}
footer{
  color: white;
  background-color: hsl(233, 26%, 24%);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 2rem 20% 2rem 20%;
  height: 14rem;
}
.footerdiv{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  text-align: right;
}
svg{
margin-right: 0.5vw;
}
path{
display: block;
margin-right: 5vw;
}
path:active{
  fill: hsl(136, 65%, 51%);
}
.footerdiv button{
  margin-right: 0vw;
}
.list{
  list-style-type: none;
}
.list > li{
  padding-right: 4em;
}
.list > li > a:active{
  color: hsl(136, 65%, 51%);
}
#botlist{
  margin-top: 0.5em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  line-height: 3em;
}
button:active{
  opacity: 0.5;
  border-style: none;
}
button:focus{
outline: none;
}
@media screen and (max-width: 128.125em){
  .article:first-of-type{
  margin-right: 20em;  
}
@media screen and (max-width: 101.25em){
  .article:first-of-type{
  margin-right: 15em;  
}
@media screen and (max-width: 93.75em){
  header {
    padding: 1em 2em 1em 2em;
}
.bigtopdiv {
  padding: 0 0 0 1rem;
}
#bottomtitle{
  padding-left: 1rem;
}
.divbot {
  padding: 0 1rem 5em 1rem;
}
.article{
  width: 20em;
}
.article:first-of-type{
  margin-right: 0;  
}
.smalldiv{
  height: 21rem;
  width: 15rem;
}
.smalldiv > img{
  margin-bottom: 1em;
}
.smalldiv > h2{
  margin-bottom: 1rem;
}
.smalldiv:last-of-type > h2{
line-height: 4rem;
margin-bottom: 0.5em;
}
footer{
  padding: 2rem 1rem 2rem 1rem;
}
.botdiv{
  height: 70vh;
}
#middlediv{
  padding: 0 1rem 0 1rem;
}
@media screen and (max-width: 69.375em){
  #menu{
    display: inline-block;
    width: 3em;
    height: 2em;
    margin: 0.5em 3vw 0 0 ;
  }
  header > ul {
    display: none;
  }
  header > button{
    display: none;
  }
  .botdiv{
    padding: 0;
  }
}
@media screen and (max-width: 56.25em){
  #phoneimage{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
  }
  header{
    padding-top: 1em;
    padding-left: 2em;
    height: 5em;
  }
  #menu{
    display: inline-block;
    width: 7vw;
    height: 4vw;
    margin: 1vh 7vw 0 0 ;
  }
  header > img{
    margin-top: 0.5em;
    width: 10em;
    height: 2em;
  }
  header > ul {
    display: none;
  }
  header > button{
    display: none;
  }
  .bigtopdiv{
    flex-flow: column nowrap;
    position: static;
    height: 40rem;
    padding: 0;
  }
  .bigtopdiv > .topdiv{
    order: 1;
    margin: 0;
    width: 100%;
    height: 20vh;
    text-align: center;
    padding: 5em 0;
  }
  .topdiv > h1
  {
    font-size: 40px;
  }
  .topdiv > button{
    margin: 0;
  }
  #bkg{
    background-size: 100% , 150%;
    width: 100%;
    height: 30vh;
    max-width: 100%;
    background-position: 0vw -25vh;
    order: 0;
    z-index: 0;
    position: static;
  }
  #middlediv{
    height: 100rem;
    display: flex;
    flex-flow: column nowrap;
  }
  #marginBot{
    padding-top: 0;
    padding: 0 2vw;
    margin: 8vh 0 0;
    width: 100%;
    text-align: center;
    
  }
  .botdiv{
    display: flex;
    flex-flow: column nowrap;
    margin-top: 0;

  }
  .smalldiv{
    height: 15vh;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
    margin-bottom: 15rem;
  }
  #bottomtitle{
    margin: 1em 0 2em 0;
    text-align: center;
  }
  .article:first-of-type{
    margin: 1em auto;
  }
  .article{
    text-align: left;
    padding: 0 2em;
    width: 80%;
    margin: 1em auto;
  }
  .article > p{
    padding: 0 7vw;
    font-size: 14px;
  }
  .article > img{
    margin: 1em auto;
    width: 100%;
    aspect-ratio: 1;
  }
  .article > h3{
    text-align: left;
    padding: 0 7vw;
    font-size: 10px;
    font-weight: 400;
  }
  .article > h4{
    text-align: left;
    padding: 0 7vw;
    font-size: 16px;
  }
  .article > h4 >a{
    color: black;
    font-weight: 900;
  }
  footer{
    width: 100%;
    height: 75vh;
    flex-flow: column nowrap;
    justify-content: unset;
  }
  .footerdiv{
    margin: 0 auto;
    padding: 2vh;
    text-align: center;
  }
  #lalala{
    margin-top: 4vh;
  }
  #botlist{
    flex-flow: column nowrap;
    justify-content: unset;
    text-align: center;
    margin: 0 auto;
    padding: 2vh;
  }
  .list{
    line-height: 5vh;
  }
  .list > li{
    padding-right: 0;
    margin: 0;
  }
  #botbutton{
    margin: 0 0 5vh 0;
  }
  #mobilemenu{
    position: absolute;
    display: block;
    background-color: white;
    height: 35vh;
    width: 90vw;
    top : 10vh;
    left: 5vw;
    text-align: center;
    line-height: 6vh;
    border-radius: 4px ;
    -webkit-box-shadow: 10px 10px 72px 82px rgba(0,0,0,0.45);
    -moz-box-shadow: 10px 10px 72px 82px rgba(0,0,0,0.45);
    box-shadow: 10px 10px 72px 82px rgba(0,0,0,0.45);
  }
  #mobilemenu > ul{
    list-style: none;
    padding-top: 2vh;
  }
  #mobilemenu > ul > li > a{
    color: hsl(233, 26%, 24%);
    font-weight: 900;
  }
}
@media screen and (max-width: 30.125em){
  #middlediv{
    height: 110rem;
  }
  .article{
    padding: 0;
    max-width: 90%;
  }
  #smalldiv{
    margin-bottom: 5rem;
  }
  #bkg{
    height: 24vh;
  }
}